form {
    margin-top: 2rem;
}

.delete {
    margin-left: 5rem;
}

@media screen and (min-width: 1201px) {}

@media screen and (max-width: 1200px) {
    h3 {
        color: grey;
    }
}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {

    h3 {
        font-size: 20px;
        font-weight: 600;
    }
}

@media screen and (max-width: 576px) {
    .delete {
        margin-left: 2rem;
    }
}