<div class="container-fluid">
  <div class="row">
    <h1 class="col-12 display-4">Search History</h1>  
  </div>

  <form class="row form-group" [formGroup]="queryForm" novalidate>
    <div class="col-12 col-sm-12 col-md-3 col-lg-2">
      <label class="col-form-label">I`m looking for</label>
    </div>
    <div class="col-8 col-md-7 col-lg-8">
      <input type="text" class="form-control" formControlName="query" placeholder="Text of my search request" [(ngModel)]="inputValue">
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-secondary" (click)="send(queryForm.value.query)">Find</button>
    </div>
    <div class="col-12" *ngIf="queryForm.controls.query.invalid">
      <div *ngIf="queryForm.controls.query.errors.maxlength" class="alert alert-danger">
        The number of characters entered must not exceed 100!
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-12">
      <h3>Search history - {{numberRequests}} request(s)</h3>
    </div>
  </div>

  <div class="row" *ngFor="let item of items | async;  let i = index">
    <div class="col-10">
      {{item.date}}
      <p>{{item.message}}</p>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-secondary" (click)="delete(item.$key)">Delete</button>
    </div>
    <div class="col-12">
      <hr class="my-4">
    </div>  
  </div>

</div>


<!--<input type="text" id="message" placeholder="What is it that you do?" (keyup.enter)="send($event.target.value)" [(ngModel)]="msgVal" />-->
<!--<div>Form value: {{queryForm.value.query | json}}</div>
  <div>Form status: {{queryForm.status | json }}</div>-->